:root {
  --title-orange: #ffaa4c;
  --soft-black: #242424;
  --soft-white: #f4f5f6;
  --header-grey: #222831;
  --scroll-track-grey: #3c3d37;
  --deep-black: #121212;
  --subtitle-grey: #98a1bc;
  --react-blue: #61dafb;
  --dotnet-purple: #8c66ff;
  --typescript-blue: #3178c6;
  --sql-server-yellow: #ffb900;
  --aws-orange: #ff9900;

  --max-page-width: 1280px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--soft-white);
  background-color: var(--soft-black);

  overflow-x: hidden;
  overflow-y: scroll;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: var(--scroll-track-grey);
}

::-webkit-scrollbar-thumb {
  background: var(--title-orange);
  border-radius: 0.2rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffaa4c;
}
