/* HTML attributes */

:root {
  --title-orange: #ffaa4c;
  --background-grey: #242424;
  --alternate-background: #fff7f1;

  font-family: 'Trebuchet MS', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  background-color: var(--background-grey);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Colours */

.greyBackground {
  background-color: var(--background-grey);
  color: rgba(255, 255, 255, 0.87);
}

.altBackground {
  background-color: var(--alternate-background);
  color: var(--background-grey);
}

.lightThemeText {
  color: var(--background-grey);
}

.darkThemeText {
  color: var(--alternate-background);
}

/* Layout */

.horizontal {
  display: flex;
  flex-direction: row;
}

.paddedBottom {
  padding-bottom: 5rem;
}

.paddedTop {
  padding-top: 5rem;
}

.padded {
  padding: 2rem;
}

.verticalCenter {
  display: flex;
  align-items: center;
}

/* Typewriter text effect - See below */
/* https://css-tricks.com/snippets/css/typewriter-effect/ */

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 2.5s steps(40, end);
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Fade in/out  effect */

.hidden {
  opacity: 0;
  transition: all 1s;
}

.show {
  opacity: 1;
}

/* Custom scrollbar */

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background: var(--background-grey);
}

::-webkit-scrollbar-thumb {
  background: var(--title-orange);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffaa4c;
}
