/* HTML attributes */

:root {
  --title-orange: #ffaa4c;
  --background-grey: #242424;

  font-family: 'Trebuchet MS', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-grey);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Colours */

.greyBackground {
  background-color: var(--background-grey);
}

/* Layout */

.horizontal {
  display: flex;
  flex-direction: row;
}

.paddedSection {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.verticalCenter {
  display: flex;
  align-items: center;
}

/* Text */

.nameText {
  color: var(--title-orange);
  margin-bottom: 0.3rem;
  margin-top: 10rem;
}

.roleText {
  font-size: 1.5rem;
  margin: 0;
}

.webTitle {
  font-size: 5.5rem;
}

.webSubTitle {
  font-size: 2.5rem;
}

/* Images */

.profilePhoto {
  display: flex;
  border-radius: 10%;
  margin-left: 6rem;
}
